@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.monster-list-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.monster-list-outer h2 {
  font-family: "Creepster", cursive;
  align-self: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.list-item-wrapper {
  margin-bottom: 10px;
}

.list-item {
  margin-left: 50px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.list-item__name-stats {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.list-item-name-stats__stats {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
